Supermercado Vea/superVeaWS/src/main/resources/SuperVeaWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.1 git-revision#6a0a3a3. -->
<definitions targetNamespace="http://services.superveaws.das.ubp.edu.ar/" name="SuperVeaWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.superveaws.das.ubp.edu.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.superveaws.das.ubp.edu.ar/" schemaLocation="SuperVeaWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="ObtenerPrecios">
    <part name="parameters" element="tns:ObtenerPreciosRequest"/>
  </message>
  <message name="ObtenerPreciosResponse">
    <part name="parameters" element="tns:ObtenerPreciosResponse"/>
  </message>
  <message name="ObtenerSucursales">
    <part name="parameters" element="tns:ObtenerSucursalesRequest"/>
  </message>
  <message name="ObtenerSucursalesResponse">
    <part name="parameters" element="tns:ObtenerSucursalesResponse"/>
  </message>
  <message name="ObtenerProductos">
    <part name="parameters" element="tns:ObtenerProductosRequest"/>
  </message>
  <message name="ObtenerProductosResponse">
    <part name="parameters" element="tns:ObtenerProductosResponse"/>
  </message>
  <portType name="SuperVeaWS">
    <operation name="ObtenerPrecios">
      <input wsam:Action="http://services.superveaws.das.ubp.edu.ar/SuperVeaWS/ObtenerPreciosRequest" message="tns:ObtenerPrecios"/>
      <output wsam:Action="http://services.superveaws.das.ubp.edu.ar/SuperVeaWS/ObtenerPreciosResponse" message="tns:ObtenerPreciosResponse"/>
    </operation>
    <operation name="ObtenerSucursales">
      <input wsam:Action="http://services.superveaws.das.ubp.edu.ar/SuperVeaWS/ObtenerSucursalesRequest" message="tns:ObtenerSucursales"/>
      <output wsam:Action="http://services.superveaws.das.ubp.edu.ar/SuperVeaWS/ObtenerSucursalesResponse" message="tns:ObtenerSucursalesResponse"/>
    </operation>
    <operation name="ObtenerProductos">
      <input wsam:Action="http://services.superveaws.das.ubp.edu.ar/SuperVeaWS/ObtenerProductosRequest" message="tns:ObtenerProductos"/>
      <output wsam:Action="http://services.superveaws.das.ubp.edu.ar/SuperVeaWS/ObtenerProductosResponse" message="tns:ObtenerProductosResponse"/>
    </operation>
  </portType>
  <binding name="SuperVeaWSPortBinding" type="tns:SuperVeaWS">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ObtenerPrecios">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="ObtenerSucursales">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="ObtenerProductos">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SuperVeaWS">
    <port name="SuperVeaWSPort" binding="tns:SuperVeaWSPortBinding">
      <soap12:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

